body {
    display: flex;
    font-family: sans-serif;
    font-size: 38px;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 8px;
}

.header-right {
    margin-left: 72px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.heroSection {
    height: 360px;
    background-color: #1F2937;
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 96px;
    gap: 32px;
}


.heroSection img {
    height: 250px;
    width: 500px;
    flex-grow: 0;
}

.heroLeft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 0;
    flex-grow: 1;
    color: #E5E7EB;
    font-size: 18px;
}

.heroLeft h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.heroLeft p {
    margin-top: 0px;
    width: 350px;
}

.heroLeft button {
    width: 200px;
}

.bodySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 96px;
    padding-top: 32px;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
}

.card {
    display:flex;
    flex: 0 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1F2937;
    font-size: 18px;
}

.cardImg {
    border: #1F2937;
    border-radius: 10px;
    padding: 4px;
    background-color: #006aff;
    height: 150px;
    width: 150px;
    flex-grow: 0;
}

.quoteSection {
    background-color: #E5E7EB;
}